body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.app {
    width: 70%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-panel {
    width: 50% !important;
    margin: 2% !important;
}

.add-button {
    width: 30vw;
}

.notes {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: baseline;
    gap: 25px 50px;
    margin: 5% 0 5% 0;
}

.note {
    font-size: 1rem;
    box-shadow: 0 2px 12px 0 rgba(96, 101, 105, 0.15);
    width: 100%;
    padding: 12px 24px;
    color: rgba(0, 0, 0, 0.75);
}

.note h4 {
    color: rgba(0, 0, 0, .8);
    border-bottom: 1px solid #f0f0f0;
    padding: 12px 0;
    width: 100%;
    border-radius: 2px 2px 0 0;
}

@media (max-width: 1000px) {
    .notes {
        display: grid;
        grid-template-columns: auto auto;
        gap: 25px 50px;
        margin: 5% 0 5% 0;
    }

    .add-button {
        width: 65vw;
    }

    .search-panel {
        width: 95% !important;
        margin: 5% !important;
    }
}

@media (max-width: 700px) {
    .notes {
        display: grid;
        grid-template-columns: auto;
        gap: 25px 50px;
        margin: 5% 0 5% 0;
    }
    .search-panel {
        width: 95% !important;
        margin: 5% !important;
    }
    
    .add-button {
        width: 65vw;
    }
}
