body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background: #2f3243 !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #2f3243;
}

::-webkit-scrollbar-thumb {
    background: #4e536e;
}

::-webkit-scrollbar-thumb:hover {
    background: #21232e;
}

.content {
    background-color: rgb(66, 74, 90);
    margin: 0 auto;
    margin-top: 3%;
    padding: 10px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: auto;
}

.contact-list {
    padding: 0;
    list-style: none;
    height: 400px;
    overflow: auto;
    margin-top: 1%;
}

.contact-list-item {
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    margin: 1%;
    padding: 2%;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-text {
    padding-left: 10px;
    display: flex; 
    flex-direction: column; 
}

.contact-text h3 {
    color: #FFF;
}

.contact-text span {
    color: rgba(255, 255, 255, 0.6);
}

.contact-delete-but {
    background-color: transparent;
    border: none;
}

.contact-delete-but:active {
    background: unset !important;
    outline: none !important;
}

.add-form {
    display: flex;
    flex-direction: row;
}

.add-form-button {
    margin: 0 !important;
}

@media (max-width: 800px) {
    .content {
        width: 100vw;
    }
}
